@font-face {
  font-family: modern_sans_serif_7;
  font-style: normal;
  src: url("../fonts/modern_sans_serif_7.ttf");
}
p {
  font-family: modern_sans_serif_7;
}
body {
  background-color: #008000;
}
#content {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 5% 0 0 5%;
  border: 1px solid #000;
  height: 500px;
}
#content .abajo {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 40%;
  background-color: #fff;
}
#content .abajo p {
  color: #000;
  display: inline-block;
  padding: 1% 1% 0.1% 1%;
}
#content .arriba {
  position: absolute;
  width: 96%;
  margin: 2% 2% 2% 2%;
}
#content .arriba .graf_info {
  margin-top: 6%;
  margin-left: 50%;
}
#content .arriba .graf_info p {
  padding: 0 0 15px 0;
}
#content .arriba .graf {
  float: left;
}
