@font-face {
  font-family: modern_sans_serif_7;
  font-style: normal;
  src: url("../fonts/modern_sans_serif_7.ttf");
}
body {
  background-color: #008000;
}
#contenedor {
  position: relative;
  margin-top: 10%;
  background-color: #fff;
}
#contenedor .titulo {
  text-align: center;
}
#contenedor .titulo h1 {
  font-family: modern_sans_serif_7;
  font-size: 50px;
  letter-spacing: 5px;
}
#contenedor .cuerpo {
  position: absolute;
  left: 350px;
}
#contenedor .cuerpo p {
  font-family: arial;
  font-size: 45px;
  display: inline;
  margin-right: 20px;
  color: #fff;
  font-family: modern_sans_serif_7;
  letter-spacing: 6px;
}
#contenedor .cuerpo .url {
  border: 1px solid #fff;
  padding: 15px;
  background: #b5b5b5;
  vertical-align: 10px;
  width: 442px;
  font-size: 19px;
  outline: 0;
}
::-webkit-input-placeholder {
  font-family: arial;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 4px;
  color: #fff;
}
#contenedor .boton {
  position: absolute;
  top: 150px;
  left: 600px;
  margin-top: 2%;
}
.submit_b {
  background: gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background-color: #f9f9f9;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  text-indent: -1.31px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #666;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  height: 65px;
  line-height: 65px;
  width: 131px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #fff;
}
.submit_b:hover {
  background: -webkit-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
  background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
  background: -o-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
  background: -ms-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
  background: linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.submit_b:active {
  position: relative;
  top: 1px;
}
